/* app.component.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  mat-card.update.page{
    width: 500px;
    padding: 20px;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }